<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>View Words</ion-title>
    </ion-navbar>
    </ion-header>
    
    <ion-content padding>
    <ion-grid style="height: 10%">
      <ion-row justify-content-center align-items-center style="height: 100%">
        <h3 > {{studentObject.firstName}}  {{studentObject.lastName}}  </h3>
      </ion-row>
    </ion-grid>
    
    
    <div *ngIf="error" class="error-message">{{error}}</div>
    <ion-content padding="'true'" scroll="false" class="has-header">
        <ion-card>
            <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterItems()"></ion-searchbar>
            <ion-grid style="height: 100%">
                <ion-row justify-content-center align-items-center style="height: 100%">
                        <button ion-button class="submit-btn" full type="submit" (click)="addUnknownWordToStudent()" >Add Unknown Word </button>
                  </ion-row>
              </ion-grid>
            <ion-item  >
                <ion-row class="ion-title" style="background-color: silver;">
                    <ion-col >Unknown Word</ion-col>
                    <ion-col >Word Category</ion-col>
                </ion-row>
                
                <ion-item *ngFor="let wordObjects of unKnownWords">
                      <ion-row  >
                          <ion-col  >{{wordObjects.wordText}}</ion-col>
                          <ion-col  >{{wordObjects.wordCategory}}</ion-col>
                      
                      </ion-row>
                    </ion-item>
            </ion-item>

            <ion-item  >
                <ion-row class="ion-title" style="background-color: silver;">
                    <ion-col >New Learned Word</ion-col>
                    <ion-col >Word Category</ion-col>
                </ion-row>
                
                <ion-item *ngFor="let wordObjects of newLearnedWords">
                      <ion-row  >
                          <ion-col >{{wordObjects.wordText}}</ion-col>
                          <ion-col >{{wordObjects.wordCategory}}</ion-col>
                         
                      </ion-row>
                    </ion-item>
            </ion-item>

            <ion-item  >
                <ion-row class="ion-title" style="background-color: silver;">
                    <ion-col >Known Word</ion-col>
                    <ion-col >Word Category</ion-col>
                </ion-row>
                
                <ion-item *ngFor="let wordObjects of knwonWords">
                      <ion-row  >
                          <ion-col  >{{wordObjects.wordText}}</ion-col>
                          <ion-col  >{{wordObjects.wordCategory}}</ion-col>
                      
                      </ion-row>
                    </ion-item>
                </ion-item>
        </ion-card>
      </ion-content>
    </ion-content>
    