<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3> Welcome : {{userData.userName}}  ,</h3>


  <ion-content has-header="true" padding="true"  ng-controller="AppCtrl as ctrl" >
   
    <div class="ion-content" style=" padding-top: 25%">
        <div class="row row-center">
            <div class="col col-center">
              <button ion-button (click)="goAddStudentPage()" block> Add New student </button>
            </div>
          </div>
          
          <div class="row row-center">
            <div class="col col-center">
              <button ion-button (click)="goExistingStudentPage()" block>Existing Student</button>
            </div>
          </div>
          
    </div>
    </ion-content>
</ion-content>
